*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .bg{
    width: 100%;
    height: 100;
} */
session{
    background-size: 100% 100%;
}
.shape{position: absolute;width: 150px;}
.shape-one{bottom: 0;}
.shape-two{right: 0; transform: rotate(180deg);}
.shape-three{transform: scaleY(-1); opacity: .2;width: 200px}
.shape-four{right: 0;bottom: 0;transform: scaleX(-1); opacity: .2;width: 200px}

.wrapper{
    width: 80%;
    /* height: 70vh; */
    /* border: 1px solid black; */
    margin: 20px auto;
    display: flex;
}

.box-1{
    width: 50%;
    /* height: 70vh; */
    /* border: 1px solid black; */
    border-top-left-radius: 20px;
}

.box-2{
    width: 50%;
    /* height: 70vh; */
    /* border: 1px solid black; */
    background-color: silver;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.upper{
    margin-left: 20px;
    margin-top: 20px;
}

.txt-1{
    font-size: 70px;
    margin-bottom: -60px;
    font-weight: lighter;
}

.txt-2{
    font-size: 90px;
    font-weight: 900;
    margin-bottom: -38px;

}

.txt-3{
font-size: 30px;
font-weight: lighter;
margin-bottom: -8px;
margin-left: -3px;
}

.txt-4{
    font-size: 70px;
    display: inline;
    /* margin-bottom: -45px; */
    position: relative;
    bottom: 35px;
    font-weight: lighter;


}

.txt-5{
    font-size: 59px;
    font-weight: 900;
    display: inline;
    /* margin-bottom: -45px; */
    position: relative;
    bottom: 35px;
}


.lower{
    margin-left: 20px;
    /* margin-top: 250px; */
    /* display: flex;
    flex-direction: column; */
    
}

.lower-txt1{
    color: #b21828;
    font-size:25px ;
    margin-bottom: -12px;
    font-weight: 900; 
}

.lower-txt2{
    color: #b21828;
    font-size:15px ;
    position: relative;
    top: 5px
}

 /* .para{
    margin-left: 20px;
    line-height: 1;
    font-size: 25px;
    margin-top: 10px;
}

.wform{
    font-size: 35px;
    letter-spacing: 1px
}

small{
font-size:15px
}

.wpress{
    font-weight: bolder;
    font-size: 25px;
}

.para-bottom{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 250px;
    line-height: 0;
    color: #b21828;
}

.date{
    font-size: 15px;
    margin-left: 20px;
     line-height: 0;
    color: #b21828;
}  */

.img-1{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
}

.section{
    
    width: 70%;
    /* height:80vh ; */
    /* border: 1px solid black; */
    margin: 0 auto;
}

.para-2{
    font-size: 20px;
    color: black;
    text-align: center;
} 

.heading-1{
    text-align: center;
    font-weight: 900;
    color: #b21828;
}

.para-3{
    font-size: 20px;
    color: black;
    text-align: center;
} 

.img-section{

        width: 35%;
        height: 78%;
        /* border: 1px solid black; */
        margin-left: auto;
        margin-right: auto;
        display: block;
}


.img-2{
    width: 100%;
    height: 100%;
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
    /* margin-top: 2%; */
}

.para-4{
    font-size: 20px;
    color: black;
    text-align: center;
    
} 


/* Responsive */

@media screen and (max-width: 1200px){
    .wrapper{
        width: 100%;
    }

}
    

@media screen and (max-width: 992px) {
    .wrapper{
        width: 100%;
    }
     .txt-1{
        font-size: 55px;
        margin-bottom: -47px;
        font-weight: lighter;
    }

    .txt-2{
        font-size: 75px;
        font-weight: 900;
        margin-bottom: -28px;
    
    }

    .txt-3{
        font-size: 25px;
        font-weight: lighter;
        margin-bottom: 10px;
        margin-left: 0px;
        }
        
        .txt-4{
            font-size: 52px;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
            font-weight: lighter;
        
        
        }
        
        .txt-5{
            font-size: 55px;
            font-weight: 900;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
        }

        
        .img-section{

            width: 40%;
            height: 75%;
            /* border: 1px solid black; */
            margin-left: auto;
            margin-right: auto;
            display: block;
    }
    
    
    .img-2{
        width: 100%;
        height: 100%;
        /* margin-left: auto;
        margin-right: auto;
        display: block; */
        /* margin-top: 2%; */
    }





}


@media screen and (max-width: 768px) {
    .wrapper{
        width: 80%;
        flex-direction: column;
    }

    .img-1{
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
     
    }

    
    .box-1{
        width:100%;
        height: auto;
        /* height: 70vh; */
        /* border: 1px solid black; */
        border-top-left-radius: 20px;
    }
    
    .box-2{
        width: 100%;
        height: auto;
        /* height: 70vh; */
        /* border: 1px solid black; */
        background-color: silver;
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }

     .txt-1{
        font-size: 60px;
        margin-bottom: -47px;
        font-weight: lighter;
    }

    .txt-2{
        font-size: 85px;
        font-weight: 900;
        margin-bottom: -28px;
    
    }

    .txt-3{
        font-size: 28px;
        font-weight: lighter;
        margin-bottom: 10px;
        margin-left: 0px;
        }
        
        .txt-4{
            font-size: 55px;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
            font-weight: lighter;
        
        
        }
        
        .txt-5{
            font-size: 60px;
            font-weight: 900;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
        }

        .img-section{

            width: 50%;
            height: 80%;
            /* border: 1px solid black; */
            margin-left: auto;
            margin-right: auto;
            display: block;
    }
    
    
    .img-2{
        width: 100%;
        height: 100%;
        /* margin-left: auto;
        margin-right: auto;
        display: block; */
        /* margin-top: 2%; */
    }




}

@media screen and (max-width: 576px) {

    .wrapper{
        width: 100%;
        flex-direction: column;
    }

    .img-1{
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
     
    }

    
    .box-1{
        width:100%;
        height: auto;
        /* height: 70vh; */
        /* border: 1px solid black; */
        border-top-left-radius: 20px;
    }
    
    .box-2{
        width: 100%;
        height: auto;
        /* height: 70vh; */
        /* border: 1px solid black; */
        background-color: silver;
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }

     .txt-1{
        font-size: 57px;
        margin-bottom: -47px;
        font-weight: lighter;
    }

    .txt-2{
        font-size: 72px;
        font-weight: 900;
        margin-bottom: -28px;
    
    }

    .txt-3{
        font-size: 28px;
        font-weight: lighter;
        margin-bottom: 10px;
        margin-left: 0px;
        }
        
        .txt-4{
            font-size: 50px;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
            font-weight: lighter;
        
        
        }
        
        .txt-5{
            font-size: 50px;
            font-weight: 900;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
        }

        
        .img-section{

            width: 65%;
            height: 75%;
            /* border: 1px solid black; */
            margin-left: auto;
            margin-right: auto;
            display: block;
    }
    
    
    .img-2{
        width: 100%;
        height: 100%;
        /* margin-left: auto;
        margin-right: auto;
        display: block; */
        /* margin-top: 2%; */
    }

}

@media screen and (max-width: 480px) {

    .wrapper{
        width: 100%;
        flex-direction: column;
    }

    .img-1{
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
     
    }

    
    .box-1{
        width:100%;
        height: auto;
        /* height: 70vh; */
        /* border: 1px solid black; */
        border-top-left-radius: 20px;
    }
    
    .box-2{
        width: 100%;
        height: auto;
        /* height: 70vh; */
        /* border: 1px solid black; */
        background-color: silver;
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }

     .txt-1{
        font-size: 49px;
        margin-bottom: -33px;
        font-weight: lighter;
    }

    .txt-2{
        font-size: 59px;
        font-weight: 900;
        margin-bottom: -24px;
    
    }

    .txt-3{
        font-size: 24px;
        font-weight: lighter;
        margin-bottom: 15px;
        margin-left: 0px;
        }
        
        .txt-4{
            font-size: 37px;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 38px;
            font-weight: lighter;
        
        
        }
        
        .txt-5{
            font-size: 42px;
            font-weight: 900;
            display: inline;
            /* margin-bottom: -45px; */
            position: relative;
            bottom: 35px;
        }

        
        .img-section{

            width: 65%;
            height: 75%;
            /* border: 1px solid black; */
            margin-left: auto;
            margin-right: auto;
            display: block;
    }
    
    
    .img-2{
        width: 100%;
        height: 100%;
        /* margin-left: auto;
        margin-right: auto;
        display: block; */
        /* margin-top: 2%; */
    }

}
